/* dark mode */

* {
	box-sizing: border-box;
}

body.dark {
	background: #1a1d20;
    color: rgb(255, 255, 255);
}

body.dark ul li a{
	
    color: rgb(255, 255, 255);
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #918f8f;
}

.fa-sun {
	color: #f39c12;
}

.dBut {
    margin-left: 50px;    
}

/* Header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px !important;
    max-width: 100%;
    background-color: rgba(67, 209, 207, 0.35);
}
.ciencia a{
    color: black !important;
    text-decoration: none;
}
.ciencia:hover {
    background-color: rgba(67, 209, 207, 0.35);
  }
.header ul{
    list-style: none;
}

.header ul li a{
    color: #696969;
}

/* mobile changes */

.menu{
    width: 1000px;
    padding-right: 20px;
    padding-top: 20px;
}

.menu1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* fim mobile changes */

.btn-primary{
    background-color: #696969 !important;
    border-color: #696969 !important;
}

#menuToggle{
    display: none;
}

.menu-icon{
    display: none;
    margin: 0px;
    margin-top: 10px;
}

.li_texto a{
    color: #696969 !important;
}

.logo{
    max-width: 150px;
    max-height: 56px;
    padding-left: 10px;
}

.btn-outline-success{
    color: #696969 !important;
    border-color: #696969 !important;
    background-color: transparent !important;
}

.navbar.bg-light{
    background-color: transparent !important;
}

/* Fim Header */






