/* Header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px !important;
    max-width: 100%;
    background-color: rgba(67, 209, 207, 0.35);
}

/* mobile changes */

.menu{
    width: 1000px;
    padding-right: 20px;
    padding-top: 20px;
}

.menu1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* fim mobile changes */

.header ul{
    list-style: none;
}

.btn-primary{
    background-color: #696969 !important;
    border-color: #696969 !important;
}

.header a{
    color: #696969;
}

#menuToggle{
    display: none;
}

.menu-icon{
    display: none;
    margin: 0px;
    margin-top: 10px;
}

.logo{
    max-width: 150px;
    max-height: 56px;
    padding-left: 10px;
}

.btn-outline-success{
    color: #696969 !important;
    border-color: #696969 !important;
    background-color: transparent !important;
}

.navbar.bg-light{
    background-color: transparent !important;
}

.menu_transition{
    font-size: 1.1rem;
    text-decoration: none;
}

/* Fim Header */

/****************************************************************************/

/* Main */

.row a:hover{
    margin: 0;
    text-decoration: none;
    width: 100%;
}

.title {
    margin: 0;
    font-size: 125%;
    color: black; 
    padding: 0;
}

.timestamp  {
    font-size: 80%;
    color: skyblue; 
}

textarea {
    width:  30%;
    height: 200px;
}
button {
    display: block;
    margin: 10px 0;
}
.Topic {
    height: 50px;
    margin: 0;
}
.main {
    margin: 5px;
}
.separation {
    color: black;
}
/* Fim Main */

/****************************************************************************/

/* Footer */

.footer{
    background-color: rgba(67, 209, 207, 0.35);
    max-width: 100% !important;
    margin: 0px !important;
    justify-content: center;
    display: flex;
    position: fixed;
    bottom: 0px;
}

.footer p{
    max-width: 550px;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Fim Footer */









/* Display em mobile */

@media screen and (min-width:0px) and (max-width:576px){

    .header{
        height: 50px;
        justify-content: center;
        padding-right: 30px;
    }

    .logo{
        width: 100px !important;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    .menu1{
        max-width: 100%;
    }

    .menu ul li{
        padding-bottom: 20px;
    }

    .menu1 li a{
        color: #f1f1f1;
    }

    .menu1{
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 20;
        flex-wrap: wrap;
        top: 0px;
        height: 100%;
        flex-direction: column;
    }

    .menu-icon{
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        width: 30px;
        z-index: 21;
    }

    .btn-outline-success{
        color: #f1f1f1 !important;
        border-color: #f1f1f1 !important;
        background-color: transparent !important;
    }



    #menuToggle:checked ~ label i:nth-child(2){
        display: block;
    }

    #menuToggle:checked ~ label i:first-child{
        display: none;
    }

    #menuToggle:not(checked) ~ label i:first-child{
        display: block;
    }

    #menuToggle:not(checked) ~ label i:nth-child(2){
        display: none;
    }

    #menuToggle:checked ~ .menu1{
        display: flex;
        background-color: rgba(0, 0, 0, 0.85);
    }

    #menuToggle:checked ~ .menu-icon{
        color: #f1f1f1;
        position: fixed;
    }

    .sobreDiv{
        margin-left: 0px !important;
    }
}