:root {
  --theme: rgba(76, 233, 215, 0.61);
  --theme-dark: rgba(07, 109, 107, 1);
  --theme-strong: rgba(67, 209, 207, 1);
}

.bg-theme {
  background-color: var(--theme);
}

html {
  scroll-behavior: smooth;
}

/* btn-comecar-teste */

#btn-comecar-teste {
  border-radius: 100px;
  box-shadow: 10px black 1;
}

#btn-comecar-teste:hover {
  background-color: var(--theme-strong);
}

#btn-comecar-teste:active {
  background-color: var(--theme-dark);
}

/* spinner */

#spinner {
  height: 50%;
}

#spinner,
#spinner * {
  pointer-events: none;
}

/* wrapper */

.wrapper {
  transition: height 1s ease-in-out;
}

.wrapper > div {
  bottom: 0;
  margin: 10px;
  position: relative;
  transition: all 0.1s ease-in-out, width 0.6s ease-in-out;
  width: 140px;
}

.wrapper > div:hover {
  bottom: 5px;
}

.wrapper > div small {
  pointer-events: none;
}

.wrapper > div .mdi {
  font-size: 50px;
}

/* resultado-wrapper */

#resultado-wrapper {
  height: 0%;
  max-width: 700px;
  transition: all 2s ease-in-out;
}

#resultado-wrapper > div {
  border-radius: 50px;
}

#resultado-wrapper > div span {
  font-size: 30px;
}

/* mobile only rule */

@media only screen and (max-width: 490px) {
  .wrapper > div {
    text-align: left;
    width: 100%;
  }

  .wrapper > div > div {
    align-items: center;
    flex-direction: row !important;
  }

  .wrapper > div .mdi {
    font-size: 30px;
    margin-right: 10px;
  }
}
